*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    justify-content: center;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1{
    font-family:monospace;
    font-size: 43px;
    color: rgb(100, 59, 5);
    margin: 28px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    font-size: 16px;
    width: 45%;
    margin: 9px;
    padding: 9px;
    border: 2px solid #985656;
    border-radius: 1rem;
    outline: none;
}
.btn{
    background-color: #ff0000;
    color: white;
    font-size: 15px;
    width: 80px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    cursor: pointer;
}